@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    </div>*@
@*<div>
    <p class="text-muted">За да можем да Ви изпращаме проучвания, Вашият профил трябва да е завършен. Моля попълнете</p>
    <form method="post" class="col-md-6 offset-md-3">
        <div class="form-group">
            <label asp-for="@Model.UserInfoModels.Gender"></label>
            <input asp-for="@Model.UserInfoModels.Gender" class="form-control" />
            <span asp-validation-for="@Model.UserInfoModels.Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.UserInfoModels.Town"></label>
            <input asp-for="@Model.UserInfoModels.Town" class="form-control" />
            <span asp-validation-for="@Model.UserInfoModels.Town" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.UserInfoModels.Gender"></label>
            <input asp-for="@Model.UserInfoModels.Gender" class="form-control" />
            <span asp-validation-for="@Model.UserInfoModels.Birthday" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>

</div>*@
<div class="content">
    <img src="https://www.jisc.ac.uk/sites/default/files/online-surveys-service-banner.png" class="img-fluid" .w-100 alt="Responsive image">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/1.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h6 class="text-muted">Попълнете формата и се регистрирайте</h6>
            </div>
        </div>
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/2.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h6 class="text-muted">Участвайте в анкети и спечелете точки</h6>
            </div>
        </div>
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/3.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h6 class="text-muted">Обменете точките за награди</h6>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div>
        <h3 class="text-muted">За нас</h3>
        <p class="text-muted">
            Talk Online Panels работят в Централна и Югоизточна Европа чрез мрежа от представителни офиси и местни ръководители на проекти. Членовете се набират чрез текущи проучвания, обществени и медийни портали, като съхраняваме данните на потребителите в защитена база данни. Тя се използва, за да можем да провеждаме анкети с конкретни целеви групи - за маркетингови или социални проучвания.

            Участниците в анкетите ни се възнаграждават с точки, като за всяка попълнена анкета се получават определен брой бонус точки. В зависимост от законодателството на всяка страна, всеки участник може да размени своите точки за ваучери за подарък или пари в брой, които се изплащат по банкова сметка или за дарение за благотворителност

            Ние следим постоянно качеството на нашия панел. Използваме различни мерки за контрол за проверка на данните на потребителите, например проверки по поща или телефон, чрез месечно ограничаване на броя на попълнените анкети и изискване за актуализация на профила.
        </p>
    </div>
    <p>&nbsp;</p>
    <h3 class="text-muted">Награди</h3>
    <div class="row">
        @foreach (var v in Model.Vouchers)
        {
            <div class="col-md-4 media">
                <div class="card">
                    <a asp-controller="Vouchers" asp-action="ById" asp-route-id="@v.Id"><img src="@v.Image" class="card-img-top" alt="@v.Name"></a>
                    <div class="card-body">
                        <a asp-controller="Vouchers" asp-action="ById" asp-route-id="@v.Id"><h5 class="text-muted">@v.Name</h5></a>
                        <p class="card-text">@v.Points точки</p>
                        @*<h6 class="media-heading"><a asp-controller="Tours" asp-action="ById" asp-route-id="@tour.Id">LEARN MORE</a></h6>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>&nbsp;</p>
