@model SayOnlinePanel.Web.ViewModels.Statictics.CompleteModel

@if (Model != null)
{


    <div>
        <h6>Survey Name: @Model.Name</h6>
        <p>Total Sample Completed: @Math.Round(Model.SampleTotalCompletePercent, 1) %</p>
        <p>Male Sample Completed: @Math.Round(Model.SampleMaleCompletePercent, 1) %</p>
        <p>Female Sample Completed: @Math.Round(Model.SampleFemaleCompletePercent, 1) %</p>

    </div>

    @section Scripts {
        <script>
        function AddChart(a, b, c) {
            const chart = Highcharts.chart('container', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Completed Sample'
                },
                xAxis: {
                    categories: ['Completed All Sample', 'Completed Male Sample', 'Completed Female Sample']
                },
                yAxis: {
                    title: {
                        text: 'Complete'
                    }
                },
                series: [{
                    name: '% Completed',
                    data: [a, b, c]
                }
                ]
            });

    }
    document.addEventListener('DOMContentLoaded',
        function () {
             let a = @Model.SampleTotalCompletePercent;
             let b = @Model.SampleMaleCompletePercent;
             let c = @Model.SampleFemaleCompletePercent;
            AddChart(a, b, c);
        }
    );
        </script>

        <div id="container" style="width:100%; height:400px;"></div>
    }
}
else
{
    <h5>Анкетата все още не е попълнена от никой!</h5>
}