@model SayOnlinePanel.Web.ViewModels.Users.PeopleSelectionViewModel
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        @foreach (var answer in Model.Answers)
        {
    <div class="form-check">
        <label class="form-check-label">
            @*<asp:CheckBox ID="@answer" runat="server" Text="@answer" /><br />*@
            @*<input name="AreChecked" type="checkbox" value="@answer.Id" /> @answer.Name<br />*@
            @*<input asp-for="@answer"/>*@
            @*<input asp-for="@answer" class="form-check-input" type="checkbox" value="" checked="">*@
        </label>
    </div>}
        <input type="submit" class="btn btn-primary">
    </fieldset>
</form>
<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>





