@using SayOnlinePanel.Web.ViewModels.Users
@model SayOnlinePanel.Web.ViewModels.Users.PeopleSelectionViewModel

@{ ViewBag.Title = Model.Survey.Name; }

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @foreach (QuestionsViewModel question in Model.Survey.Questions)
    {

        <div class="row">
            @question.Name
        </div>
        @if (question.QuestionType.ToString() == "SingleAnswer")
        {
            @foreach (var answer in question.Answers)
            {
                <div class="form-check">
                    <label class="form-check-label">
                        @*<input type="radio" class="form-check-input" name="Answers" id="optionsRadios2" value=@answer.Id>*@
                        <input type="radio" class="form-check-input" name="model.Answers[]" @answer.Id value=@answer.Id>
                        @answer.Name
                    </label>
                </div>
              }             
          }
        else if (question.QuestionType.ToString() == "MultipleAnswer")
        {
                @foreach (var answer in question.Answers)
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            @*<input class="form-check-input" type="checkbox" name="model.Answers[]" value=@answer.Id>*@
                            <input class="form-check-input" type="checkbox" name="model.AreChecked[]" value=@answer.Id>
                            @answer.Name
                        </label>
                    </div>
                 }         
        }
        else if (question.QuestionType.ToString() == "LikertScales")
        {
                  <div class="wrap">
                  <ul class='likert'>
                  @foreach (var answer in question.Answers)
                  {
                      <li>
                          @*<input type="radio" name="Answers" value="strong_agree">*@
                          <input type="radio" name="model.Answers[]" @answer.Id value="@answer.Id">
                          <label>@answer.Name</label>
                      </li>
                  }
                  </ul>
                  </div>
        }
        else if (question.QuestionType.ToString() == "Dichotomous")
        {
                  <div class="form-group">
                  <label for="exampleSelect1">Example select</label>
                  <select class="form-control"  id="exampleSelect1">
                  @foreach (var answer in question.Answers)
                  {
                      <option name="AreChecked" value=@answer.Id>@answer.Name</option>
                  }
                  </select>
                  </div>
        }
        else if (question.QuestionType.ToString() == "OpenEnded")
        {
            foreach (var answer in question.Answers)
            {
                <div class="form-group">
                  <label for="exampleTextarea"></label>
                  <textarea class="form-control" name="AnswersInput" value="" id="exampleTextarea" rows="2"></textarea>
                  </div>
            }
                  
        }
        @if (question.QuestionType.ToString() == "Quantitative")
         {
                  <div class="form-group">
                  <label for="exampleTextarea"></label>
                  <input class="form-control" name="AnswersInput" asp-for="AnswersInput" type="number" id="exampleTextarea" rows="3"></input>
                  </div>
         }
     <hr />
     }
        @*@foreach (AnswersViewModel answer in question.Answers)
        {
            @answer.Name
            <input type="checkbox" name="model.Answers[]" value=@answer.Id>
        }*@
 

    <div class="row">
        <input type="submit" class="btn btn-primary" />
    </div>
 }
<p>&nbsp;</p>
<p>&nbsp;</p>
