@using SayOnlinePanel.Web.ViewModels.Users
@model SayOnlinePanel.Web.ViewModels.Users.PeopleSelectionViewModel

@{ ViewBag.Title = Model.Survey.Name; }

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    int index = 0;
    @foreach (QuestionsViewModel question in Model.Survey.Questions)
    {
        int answerIndex = 0;
        int answersCount = question.Answers.ToArray().Length;
        int width = 100 / answersCount;

        <div class="row">
            @question.Name
        </div>
        <input type="hidden" name="model.AnsweredQuestions[@index].Id" value=@question.Id />
        @if (question.QuestionType.ToString() == "LikertScales")
        {
            @Html.Raw("<div> <ul class='likert'>")
        }
        else if (question.QuestionType.ToString() == "Dichotomous")
        {
            @Html.Raw("<div class=\"form-group\"> <select  name=\"model.AnsweredQuestions[" + @index + "].SelectedAnswerIds[0]\" class=\"form-control\">")
        }
        @foreach (var answer in question.Answers)
        {
            @if (question.QuestionType.ToString() == "SingleAnswer")
            {
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="model.AnsweredQuestions[@index].SelectedAnswerIds[0]" value=@answer.Id class="form-control validate" required>
                        @answer.Name
                    </label>
                </div>
            }

            else if (question.QuestionType.ToString() == "MultipleAnswer")
            {
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="model.AnsweredQuestions[@index].SelectedAnswerIds[]" value=@answer.Id>
                        @answer.Name
                    </label>
                </div>

            }
            else if (question.QuestionType.ToString() == "LikertScales")
            {
                <li >
                    <input type="radio" name="model.AnsweredQuestions[@index].SelectedAnswerIds[0]" value="@answer.Id" required >
                    <label>@answer.Name</label>
                </li>
            }
            else if (question.QuestionType.ToString() == "Dichotomous")
            {
                <option value="@answer.Id">@answer.Name</option>
            }
            else if (question.QuestionType.ToString() == "OpenEnded")
            {
                <div class="form-group">
                    <input type="hidden" name="model.AnsweredQuestions[@index].InputAnswers[@answerIndex].Id" value=@answer.Id />
                    <label for="exampleTextarea"></label>
                    <textarea class="form-control" name="model.AnsweredQuestions[@index].InputAnswers[@answerIndex].Input" value="" rows="2" class="form-control validate" required></textarea>
                </div>


            }
            @if (question.QuestionType.ToString() == "Quantitative")
            {
                <div class="form-group">
                    <input type="hidden" name="model.AnsweredQuestions[@index].InputAnswers[@answerIndex].Id" value=@answer.Id />
                    <label for="exampleTextarea-@index"></label>
                    <input class="form-control" name="model.AnsweredQuestions[@index].InputAnswers[@answerIndex].Input" type="number" id="exampleTextarea-@index" rows="3" class="form-control validate" required></input>
                </div>

            }
            answerIndex++;
        }
        <hr />

        @if (question.QuestionType.ToString() == "LikertScales")
        {
            @Html.Raw(" </ul> </ div >")
        }
        else if (question.QuestionType.ToString() == "Dichotomous")
        {
            @Html.Raw("</select></div>")
        }
        index++;
    }

    <div class="row">
        <input type="submit" class="btn btn-primary" />
    </div>
}
<p>&nbsp;</p>
<p>&nbsp;</p>
