@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.UserInfos.SyrveysListViewModel

@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-success">@this.TempData["Message"]</div>
}

<div class="block-content">
    <h3 class="text-info">Актуален баланс: @Model.Points точки </h3>
    <blockquote class="blockquote text-right">
        <small class="text-muted">@DateTime.Now</small>
    </blockquote>

    @if (Model.VouchersUser.Count() > 0)
    {
        foreach (var item in Model.VouchersUser)
        {
            <h6 class="text-secondary">Закупени ваучери: @item.Name   /   за @item.Points Точки</h6>
        }
    }
</div>
<hr />
<div>
    <p class="text-muted">
        Моля вижте по-долу преглед на историята на акентите, в които сте участвали. Ако нещо не е ясно, изпратете ни имейл.
    </p>
</div>


<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">Дата</th>
            <th scope="col">Участие в анкета</th>
            <th scope="col">Точки</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var sv in Model.Surveys)
        {
            <tr>
                <td>@sv.Date</td>
                <td>@sv.Name</td>
                <td>@sv.Points</td>
            </tr>
        }
    </tbody>
</table>
<p>&nbsp;</p>

