@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.UserInfos.SyrveysListViewModel
@*@{
        this.ViewData["Title"] = "All Surveys";
    }*@

@*<h3>@this.ViewData["Title"]</h3>*@
<div class="block-content">
    <h3 class="text-info">Актуален баланс: @Model.Points точки</h3>
    <h7>@DateTime.Now</h7>
</div>
<hr />
<div>
    <p class="text-muted">
        Моля вижте по-долу преглед на историята на акентите, в които сте участвали. Ако нещо не е ясно, моля, проверете страницатата Помощ или ни изпратете имейл.
    </p>
</div>


<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">Дата</th>
            <th scope="col">Участие в анкета</th>
            <th scope="col">Точки</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var sv in Model.Surveys)
        {
            <tr>
                <td>@sv.Date</td>
                <td>@sv.Name</td>
                <td>@sv.Points</td>
            </tr>
        }
    </tbody>
</table>

