@using SayOnlinePanel.Web.ViewModels.TargetSurveys
@model SayOnlinePanel.Web.ViewModels.TargetSurveys.PeopleSelectionViewModel
@{ ViewBag.Title = Model.TargetSurvey.Name; }

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    int index = 0;
    @foreach (QuestionsViewModel question in Model.TargetSurvey.TargetQuestions)
    {
        int answerIndex = 0;
        int answersCount = question.TargetAnswers.ToArray().Length;
        int width = 100 / answersCount;

        <div class="row">
            @question.Name (@question.TargetQuestionType) (check all target answer)
        </div>
        <input type="hidden" name="model.AnsweredQuestions[@index].Id" value=@question.Id />
        
        @foreach (var answer in question.TargetAnswers)
        {  
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="model.AnsweredQuestions[@index].SelectedAnswerIds[]" value=@answer.Id>
                        @answer.Name
                    </label>
                </div>

            answerIndex++;
        }
        <hr />

        
        index++;
    }
   

    <div class="row">
        <input type="submit" class="btn btn-primary" />
    </div>
}
<p>&nbsp;</p>
<p>&nbsp;</p>
