
@using SayOnlinePanel.Common


@model SayOnlinePanel.Web.ViewModels.Vouchers.VoucherViewModel

@if ((int)ViewData["userPoints"] >= @Model.Points)
{
<div>
    @*<a asp-controller="UserInfos" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-secondary float-right">Поръчайте сега</a>*@
    <a href="/UserInfos/Buy/@Model.Id" class="btn btn-secondary float-right">Поръчайте сега</a>
</div>
}
<section class="py-5">
    <div class="container">
        <div>
            <div class="form-group text-center">
                <img src="@Model.Image" class="img-fluid w-25">
            </div>

            <div>
                <h6 class="text-muted">@Model.Name</h6>
            </div>
            <div>
                <h6 class="text-info">@Model.Points Точки</h6>
            </div>
            <div>
                <h6 class="text-muted">@Model.Leva лева</h6>
            </div>
            <div>
                <h6 class="text-muted">@Model.Company</h6>
            </div>
            <div>
                <h6 class="text-muted">@Model.Description</h6>
            </div>
        </div>
    </div>
</section>

